RewriteEngine On
RewriteCond %{REQUEST_URI} "/images/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/css/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/js/"
RewriteRule (.*) $1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^?]*)$ /index.php [L]

